body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main scoreboard container */
.container {
    display: flex;
    background-color: #1b244a;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    width: 575px;
    height: 280px;
    padding: 20px;
}

.container > div {
    text-align: center;
}

/* Team title*/
.home, 
.away {
    color: #EEEEEE;
    font-family: 'Verdana', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 10px auto 10px auto;
}

/* Score boxes */
#home-score, 
#away-score {
    background-color: #080001;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', cursive;
    font-size: 90px;
    width: 155px;
    height: 120px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 14px auto;
}

/* Score buttons*/
button {
    width: 45px;
    height: 45px;
    margin: 5px 3px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: transparent;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', cursive;
    font-size: 18px;
    cursor: pointer;
}

/* NEW GAME button special styling */
#new-game-btn {
    width: 120px;
    height: 45px;
    margin: 0 20px;
    font-size: 16px;
}

button:hover {
    background-color: #9AABD8;
    color: #1B244A;
}